---
# tasks file for portainer

- name: Asegurar que el volumen portainer_data existe
  ansible.builtin.docker_volume:
    name: portainer_data
    state: present

- name: Lanzar contenedor Portainer
  ansible.builtin.docker_container:
    name: portainer
    image: portainer/portainer-ce:latest
    state: started
    restart_policy: always
    ports:
      - "9443:9443"
      - "8000:8000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
